@use "ds5";

:root {
  --controller-img: url(nova-pink-layout.png);
  --face-button-color: hsl(328, 70%, 59%);
  --face-button-color-pressed: hsl(328, 88%, 44%);
  --face-button-text-color: hsl(328, 60%, 70%);
  --misc-button-color: #222;
  --misc-button-color-pressed: #888;
}
